.Titdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw !important;
}
.mylogoy {
  width: 8vw;
  height: 7vw;
  align-self: center;
}
.mylogoP {
  align-self: flex-start;
  margin-right: 30% !important;
}
.P {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 30%;
  background-color: red;
}
.p1 {
  margin-left: 3vw;
  font-weight: 600 !important;
  font-size: 18px;
  color: #6e6d7a;
  font-family: Hind, sans-serif;
  text-decoration: none !important;
}
.p1:hover {
  color: rgb(209, 19, 19);
  cursor: pointer;
}
.darkicon {
  width: 3vw;
  height: 3vw;
  margin-left: 3vw;
}
.darkicon:hover {
  cursor: pointer;
  border-radius: 10px;
}
