.finaldiv {
  display: flex;
  flex-direction: row;
  margin-top: 10vw;
  align-items: center;
  background-color: #f9f9f9;
  background-attachment: scroll !important;
  width: 100vw;
  height: 10vw;
}

.logoandname {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-top: 1vw;
  align-self: center;
  align-items: center;
  width: 100%;
}
.footer-copywright {
  align-self: center;
  margin-right: 15vw;
  margin-top: 10px;
  color: #6e6d7a;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}
.par {
  margin-left: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #6e6d7a;
  width: 398px;
  text-align: start;
}
