.whatido {
  margin-left: 10vw !important;
  margin-top: 13vw !important;
  width: 100%;
}
.what {
  font-family: sofia-pro, sans-serif !important;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  display: block;
  font-family: sofia-pro, sans-serif;

  text-align: left;
}
