.whatido {
  display: flex;
  align-items: center;
  margin-top: 10vw !important;
}
.what {
  font-family: sofia-pro, sans-serif !important;
  margin-left: 10vw;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  display: block;
  font-family: sofia-pro, sans-serif;

  text-align: left;
}
