.about-price {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.for-page {
  background-color: #fff;

  border-radius: 20px;
  margin-top: 4vw;
  height: 30vw;
  width: 24vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.for-page:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
}

.numpages {
  background-color: #8cbbc4 !important;
  font-weight: 600px;
  width: 100%;

  margin-top: 1vw;
  font-family: "Times New Roman", Times, serif;
}
.numpages12 {
  background-color: #8cbbc4 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.p-numpages12 {
  text-align: center !important;
  font-family: "Times New Roman", Times, serif;
  align-self: center !important;
  font-weight: 600px;
  margin-left: 5%;
  color: aliceblue;
  font-size: 30px;
}
.part-price {
  margin-top: 2vw;
  margin-left: 7px !important;
  text-align: start;
  font-weight: 200px;
  font-size: 27px;
}
.price {
  background-color: #8cbbc0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  margin-top: 0%;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
.p-price {
  text-align: center !important;
  align-self: center !important;
  margin-left: 3%;
  font-size: 40px;
  font-weight: 600;
  color: #fec775;
}
.from {
  font-size: 20px;
  margin-left: 10%;
  margin-top: 3%;
}
