.aboutdiv {
  width: 100vw;
  display: flex;
  align-items: center;
}
.aboutcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 10vw;
  align-items: center;
  justify-content: flex-start;

  max-width: 90vw;
}
.pdiv {
  display: flex;
  flex-direction: column;

  margin-top: 4vw;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;

  margin-left: 12%;
}
.titlediv {
  max-width: 40vw;
  max-height: 630px;
}

.tit {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  font-family: sofia-pro, sans-serif;
  color: #0d0c22;
  text-transform: none;
  margin-top: 10px;
}
.para {
  margin-top: 30px;
  color: #0d0c22;
  line-height: 26px;
  font-size: 20px;
  font-family: Hind, sans-serif;

  align-self: flex-start;
  align-items: center;
  margin-left: 0%;
  justify-content: space-between;
}
.proimg {
  background-position: 0 0;
  background-size: cover;
  height: 670px;
  width: 350px;

  margin-top: 55px;
  border-radius: 20px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    99% 90%,
    70% 100%,
    30% 100%,
    0 86%,
    0 0
  );
}
.proimg1 {
  margin-left: 20vw;
}

.loveimg {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 1vw;
}
